[Desktop Entry]
Version=1.0
Type=Application
Name=Change Resolution
Comment=arandr
Exec=arandr
Icon=view-fullscreen-symbolic
Path=
Terminal=false
StartupNotify=false

