[Desktop Entry]
Version=1.0
Type=Application
Name=gotop
Comment=Display information about the running system
Exec=btop
Icon=utilities-system-monitor
Path=
Terminal=true
StartupNotify=false

