[Desktop Entry]
Version=1.0
Type=Application
Name=Google Chrome
Comment=
Exec=google-chrome --no-sandbox
Icon=google-chrome
Path=
Terminal=false
StartupNotify=false

