[Desktop Entry]
Version=1.0
Type=Application
Name=Mount Google Drive
Comment=Mount your Google Drive
Exec="/headless/mount-google-drive.sh"
Icon=drive-removable-media
Path=
Terminal=false
StartupNotify=false
