[Desktop Entry]
Version=1.0
Type=Application
Name=Mount Google Drive
Comment=Mount your Google Drive
Exec="/usr/bin/google-drive-ocamlfuse ~/GoogleDrive"
Icon=drive-removable-media
Path=
Terminal=false
StartupNotify=false
