[Desktop Entry]
Version=1.0
Type=Application
Name=Tor browser
Comment=
Exec=torbrowser-launcher
Icon=view-private
Path=
Terminal=false
StartupNotify=false