[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/headless/Desktop/sublime_text.desktop]
row=3
col=0

[/headless/Desktop/transmission-gtk.desktop]
row=7
col=0

[/headless/Desktop/google-drive.desktop]
row=5
col=0

[/headless/Desktop/home.desktop]
row=4
col=0

[/headless/Desktop/chrome.desktop]
row=6
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/headless]
row=2
col=0

