Use_Label=false
Show_Values=false
Show_Bars=true
Colorize_Values=false
Color_In=#3887FF
Color_Out=#77DCB8
Text=Net
Network_Device=eth0
Max_In=4096
Max_Out=4096
Auto_Max=true
Update_Interval=250
Values_As_Bits=false
