[Main]
Timeout=250
Timeout_Seconds=1
Use_Timeout_Seconds=true
Use_Click_Command=false
Click_Command=xfce4-taskmanager

[SL_Cpu]
Enabled=true
Use_Label=true
Color=#ED1B0E
Text=cpu

[SL_Mem]
Enabled=true
Use_Label=true
Color=#F9F30D
Text=mem

[SL_Swap]
Enabled=true
Use_Label=true
Color=#F47B02
Text=swap

[SL_Uptime]
Enabled=true

