[Main]
Timeout=250
Timeout_Seconds=1
Use_Timeout_Seconds=true
Use_Click_Command=false
Click_Command=xfce4-taskmanager

[SL_Cpu]
Enabled=true
Use_Label=true
Color=#3887FF
Text=cpu

[SL_Mem]
Enabled=true
Use_Label=true
Color=#77dcb8
Text=mem

[SL_Swap]
Enabled=true
Use_Label=true
Color=#FD971F
Text=swap

[SL_Uptime]
Enabled=true

