[General]
Show_Title=true
Show_Labels=true
Use_Bar_UI=1
Show_Colored_Bars=true
Scale=0
Font_Size=medium
Font_Size_Numerical=2
Font=Sans 12
Lines_Size=3
Update_Interval=60
Exec_Command=true
Show_Units=true
Small_Spacings=true
Command_Name=xfce4-sensors
Number_Chips=4
Suppress_Hddtemp_Message=false
Suppress_Tooltip=true
Preferred_Width=462
Preferred_Height=369

[Chip0]
Name=w83795adg-1-2f
Number=0

[Chip1]
Name=k10temp-c3
Number=1

[Chip1_Feature0]
Id=0
Address=0
Name=temp1
Color=#00B000
Show=true
Min=0.00
Max=64.50

[Chip2]
Name=Hard disks
Number=2

[Chip2_Feature0]
Id=0
DeviceName=/dev/sdb
Name=/dev/sdb
Color=#B000B0
Show=true
Min=10.00
Max=50.00

[Chip2_Feature1]
Id=1
DeviceName=/dev/sdc
Name=/dev/sdc
Color=#B000B0
Show=true
Min=10.00
Max=50.00

[Chip2_Feature2]
Id=2
DeviceName=/dev/sda
Name=/dev/sda
Color=#B000B0
Show=true
Min=10.00
Max=50.00

[Chip3]
Name=ACPI
Number=3

