favorites=firefox.desktop,sublime_text.desktop,org.xfce.Thunar.desktop,xfce4-terminal.desktop
recent=
button-icon=nodesktop-mark
button-single-row=true
show-button-title=false
show-button-icon=true
launcher-show-name=true
launcher-show-description=true
launcher-show-tooltip=true
category-icon-size=1
item-icon-size=2
launcher-icon-size=2
menu-width=520
menu-height=620
position-search-alternate=false
position-commands-alternate=false
position-categories-alternate=false
stay-on-focus-out=false
confirm-session-command=true
