[Desktop Entry]
Name=Rclone
Comment=Configure modern cloud storage sync
Exec=xfce4-terminal --command="rclone config"
Icon=folder-cloud
Terminal=false
Type=Application
Categories=Utility;FileTools;
